<h1>Create Post</h1>

<%= @post.errors.full_messages.join(', ') %>
<%= form_for @post do |f| %>
  <div>
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
